<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="helper.js" defer></script>
    <title>Home</title>
</head>
<body>
    <h1>Inventory app</h1>
    <div class="app">
        <div class="panel">
            <div class="panelHead">
                <h2>Categories</h2>
                <button class="addCategoryBtn" onclick="addNewCategory()"></button>
            </div>

            <div class="panelBody">
                <div class="addCategory" >
                    <form action="/category" method="post" class="newCategory" id="addCategoryForm">
                        <label for="categoryName">New category</label>
                        <input type="text" name="categoryName" id="categoryName">
                        <button type="submit">Add category</button>
                        <button type="button" onclick="addNewCategory()">Cancel</button>
                    </form>
                </div>
                <div class="changeCategory" >
                    <form  method="post" class="newCategory" id="changeCategoryForm">
                        <label for="updateCategoryName">New name</label>
                        <input type="text" name="name" id="updateCategoryName">
                        <button type="submit">Apply</button>
                        <button type="button" onclick="changeCategory()">Cancel</button>
                    </form>          
                </div>
                <div class="categories">
                    <% categories.forEach(category => { %>
                        <div class="category">
                            <form action="/" method="get">
                                <input type="hidden" name="categoryId" 
                                    value="<%= currentPath == category.id ? null : category.id %>">       
                                <button type="submit" class="<%= category.id == categoryId ? 'active' : '' %>"><%= category.name %></button>
                            </form>
                            
                            <div style="display: flex; column-gap: 10px;">
                                <button class="changeCategoryBtn" type="button"
                                        data-id='<%= category.id %>' data-name='<%= category.name %>'></button>
                                
                                <form action="/delete/category/<%= category.id %>" method="post" class="delCat">
                                    <button type="submit"></button>
                                </form>
                            </div>
                        </div>
                        <% if (category.id == categoryId) { %>
                            <% subCategories.forEach(subCategory => { %>
                                <div class="subCategory">
                                    <form action="/" method="get">
                                        <input type="hidden" name="categoryId" value="<%= category.id %>">
                                        <input type="hidden" name="subCategoryId" value="<%= subCategory.id %>">
                                        <button type="submit" class="<%= subCategory.id == subCategoryId ? 'active' : '' %>"><%= subCategory.name %></button>
                                    </form>
                                </div>
                            <% }) %>
                        <% } %>  
                    <% }) %>
                </div>
            </div>
        </div>

        <div class="main">
            <% if (itemId && category) { %>
                <div class="breadcrums">
                    <a href="/">HOME</a> > 
                    <a href="/?categoryId=<%= categoryId %>"><%= category.name %></a> > 
                    <a href="/?categoryId=<%= categoryId %>&subCategoryId=<%= subCategoryId %>"><%= subCategory.name %></a> >
                    <a href="/?categoryId=<%= categoryId %>&subCategoryId=<%= subCategoryId %>&itemId=<%= itemId %>"><%= item.name %></a>  
                </div>

                <%- include('itemDetails') %>

            <% } else if (subCategoryId && category) { %> 
                <div class="breadcrums">
                    <a href="/">HOME</a> > 
                    <a href="/?categoryId=<%= categoryId %>"><%= category.name %></a> > 
                    <a href="/?categoryId=<%= categoryId %>&subCategoryId=<%= subCategoryId %>"><%= subCategory.name %></a>

                    <form action="/" method="get" class="search">   
                        <input type="hidden" name="categoryId" value="<%= categoryId %>">
                        <input type="hidden" name="subCategoryId" value="<%= subCategoryId %>">
                        <input type="text" name="searchedName" required placeholder="search...">
  
                    </form>
                </div>

                <% if (searchedItems.length > 0) { %>
                    <%- include('search') %>
                <% } else if (searchedItems.length === 0 && searchQuery) { %>
                    <div class="items">
                        <a href="/?categoryId=<%= categoryId %>&subCategoryId=<%= subCategoryId %>">Back</a>
                        <p class="noMatches">No matches found</p>   
                    </div>
                <% } else { %>
                    <div class="addItem">
                        <form action="/item" method="post" class="newCategory" id="addItemForm" enctype="multipart/form-data">
                            <label for="itemName">New item:</label>
                            <input type="text" name="itemName" id="itemName">
                            <label for="description">Description:</label>
                            <textarea name="description" id="description"></textarea>

                            <div class="placeAtHome">
                                <label>Place at HOME:</label>
                                <input type="checkbox" name="isPromote" id="isPromote">
                            </div>
                            
                            <label>Image:</label>
                            <input type="file" name="image" id="itemFile">
                            <input type="hidden" name="categoryId" value="<%= categoryId %>">
                            <input type="hidden" name="subCategoryId" value="<%= subCategoryId %>">
                            <button type="submit">Add item</button>
                            <button type="button" onclick="addNewItem()">Cancel</button>
                        </form>
                    </div>

                    <%- include('items') %>
                <% } %>

            <% } else if (categoryId && category) { %>
                <div class="breadcrums">
                    <a href="/">HOME</a> > 
                    <a href="/?categoryId=<%= categoryId %>"><%= category.name %></a>
                
                    <form action="/" method="get" class="search">   
                        <input type="hidden" name="categoryId" value="<%= categoryId %>">
                        <input type="text" name="searchedName" required placeholder="search...">
                    </form>
                </div>

                <% if (searchedSubCat.length > 0) { %>
                    <%- include('search') %>
                <% } else if (searchedSubCat.length === 0 && searchQuery) { %>
                    <div class="items">
                        <a href="/?categoryId=<%= categoryId %>">Back</a>
                        <p class="noMatches">No matches found</p>   
                    </div>
                <% } else { %>
                    <div class="addSubCategory">
                        <form action="/subCategory" method="post" class="newCategory" id="addSubCategoryForm" enctype="multipart/form-data">
                            <label for="subCategoryName">New category</label>
                            <input type="text" name="subCategoryName" id="subCategoryName">
                            <label>Image:</label>
                            <input type="file" name="image" id="subCategoryFile">
                            <input type="hidden" name="categoryId" value="<%= categoryId %>">
                            <button type="submit">Add category</button>
                            <button type="button" onclick="addNewSubCategory()">Cancel</button>
                        </form>
                    </div>
                    
                    <%- include('subCategories') %>   
                <% } %>

            <% } else { %>
                <div class="breadcrums">
                    <a href="/">HOME</a>
                </div>
                
                <div class="home">
                    <% if (promo.length > 0) { %>
                        <%- include('promo') %> 
                    <% } else { %>
                        <img src="<%= 'placeholder/home.png' %>" class="homeImage">
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>