<div class="changeItem" style="display: none;">
    <form action="/update/item/<%= item.id %>" method="post" class="newCategory" enctype="multipart/form-data">
        <label for="update">New name</label>
        <input type="text" name="name" id="update" value="<%= item.name %>">
        <label for="image">Image:</label>
        <% if (item.image_url) { %>
            <div class="previewImg" onclick="removeImg()">
                <img src="<%= item.image_url %>">
            </div>
        <% } %>
        <input type="hidden" name="removeImg" value="" class="removeImg">
        <input type="file" name="image" id="image">
        <input type="hidden" name="categoryId" value="<%= categoryId %>">
        <input type="hidden" name="subCategoryId" value="<%= subCategoryId %>">
        <input type="hidden" name="itemId" value="<%= itemId %>">
        <button type="submit">apply</button>
        <button type="button" onclick="changeItem()">cancel</button>
    </form>          
</div>

<div class="itemDetails">
    <form action="/delete/item/<%= item.id %>" method="post">
        <input type="hidden" name="categoryId" value="<%= categoryId %>">
        <input type="hidden" name="subCategoryId" value="<%= subCategoryId %>">
        <button type="submit">del</button>
    </form>

    <button type="button" onclick="changeItem()">update</button>

    <h1><%= item.name %></h1>
 
    <img src="<%= item.image_url %>">
</div>
