<div class="changeItem" style="display: none;">
    <form action="/update/item/<%= item.id %>" method="post" class="newCategory" enctype="multipart/form-data">
        <label for="update">New name</label>
        <input type="text" name="name" id="update" value="<%= item.name %>">
        <label for="image">Image:</label>

        <div class="previewImg" onclick="removeImg()">
            <img src="<%= item.image_url %>">
        </div>

        <input type="file" name="image" id="image" class="itemImage">
        <input type="hidden" name="removeImg" class="removeImg">
        <input type="hidden" name="categoryId" value="<%= categoryId %>">
        <input type="hidden" name="subCategoryId" value="<%= subCategoryId %>">
        <input type="hidden" name="itemId" value="<%= itemId %>">
        <button type="submit">apply</button>
        <button type="button" onclick="changeItem()">cancel</button>
    </form>          
</div>

<div class="itemDetails">
    <button type="button" data-url="<%= item.image_url %>" class="changeItemDetailsBtn">update</button>

    <h1><%= item.name %></h1>
 
    <img src="<%= item.image_url %>">
</div>
