<div class="promo">
    <% promo.forEach(item => { %>
        <div class="item">
            <img src="<%= item.image_url || 'placeholder/image.png' %>" class="itemImage">

            <form action="/update/depromote/<%= item.id %>" method="post" class="delPromo">
                <input type="hidden" name="itemNameUpdate" value="<%= item.name %>">
                <input type="hidden" name="imagePath" value="">
                <input type="hidden" name="descriptionUpdate" value="<%= item.description %>">
                <input type="hidden" name="isPromoteUpt" value='false'>
                <input type="hidden" name="removeImg" value="">
                <button type="submit"></button>
            </form>

            <form action="/" method="get" class="itemForm">
                <input type="hidden" name="categoryId" value="<%= item.root_id %>">
                <input type="hidden" name="subCategoryId" value="<%= item.category_id %>">
                <input type="hidden" name="itemId" value="<%= item.id %>">
                <button type="submit"><%= item.name %></button>
            </form>
        </div>
    <% }) %>
</div>