<div class="changeSubCategory" >
    <form  method="post" class="newCategory" id="changeSubCategoryForm" enctype="multipart/form-data">
        <label for="subNameUpdate">New name</label>
        <input type="text" name="name" id="subNameUpdate" minlength="3" maxlength="20" required  tabindex="-1">

        <label>Image:</label>
        <div class="previewImg" onclick="removeImg()">
            <img class="subPreviewSrc">
        </div>
        <input type="file" name="image" id="changeSubCategoryFile"  tabindex="-1">

        <input type="hidden" name="removeImg" class="removeImg">
        <input type="hidden" name="parent_id" id="parent_id">
        <button type="submit"  tabindex="-1">update</button>
        <button type="button" onclick="changeSubCategory()"  tabindex="-1">cancel</button>
    </form>          
</div>

<div class="subCategories">
    <div class="addSubCategoryBtn">
        <div>
            <button type="button" onclick="addNewSubCategory()"></button>
        </div>
    </div>
    <% subCategories.forEach((subCategory, idx) => { %>
        <div class="subCategoryRight">
            <img src="<%= subCategory.image_url || 'placeholder/image.png' %>" class="subImage">

            <form action="/delete/subCategory/<%= subCategory.id %>" method="post" class="delSubCat">
                <input type="hidden" name="categoryId" value="<%= categoryId %>">
                <input type="hidden" name="subCategoryId" value="<%= subCategory.id %>">
                <button type="submit"></button>
            </form>

            <button class="changeSubCategoryBtn" onclick="subCatPasswordCheck('<%= idx %>', true)"></button>

            <div class="subCatPassword">
                <label >Password:</label>
                <input type="text" >
                <button 
                    type="button"
                    class="changeSubCategoryDetails"
                    data-idx="<%= idx %>"
                    data-id="<%= subCategory.id %>"
                    data-name="<%= subCategory.name %>"
                    data-parent="<%= subCategory.parent_id %>"
                    data-url="<%= subCategory.image_url %>"
                >Ok</button>
                <button onclick="subCatPasswordCheck('<%= idx %>')">Cancel</button>
            </div>

            <p class="checkCat sub <%= deleteCheck && subCategory.id == deleteCheck ? 'err' : '' %>">
                Category is not empty!
            </p>
            
            <form action="/" method="get" class="subCategoryForm">
                <input type="hidden" name="categoryId" value="<%= categoryId %>">
                <input type="hidden" name="subCategoryId" value="<%= subCategory.id %>">
                <button type="submit"><%= subCategory.name %></button>
            </form>
        </div>
    <% }) %>
</div>
