<div class="changeSubCategory" style="display: none;">
    <form  method="post" class="newCategory" enctype="multipart/form-data">
        <label for="update">New name</label>
        <input type="text" name="name" id="update">
        <label for="image">Image:</label>

        <div class="previewImg" onclick="removeImg()">
            <img class="subPreview">
        </div>

        <input type="file" name="image" id="image" class="subImage">
        <input type="hidden" name="removeImg" class="removeImg">
        <input type="hidden" name="parent_id" id="parent_id">
        <button type="submit">update</button>
        <button type="button" onclick="changeSubCategory()">cancel</button>
    </form>          
</div>

<div class="subCategories">
    <div class="addSubCategoryBtn">
        <div>
            <button type="button" onclick="addNewSubCategory()">add</button>
        </div>
    </div>
    <% subCategories.forEach(subCategory => { %>
        <div class="subCategoryRight">
            <img src="<%= subCategory.image_url %>" class="subImage">

            <form action="/delete/subCategory/<%= subCategory.id %>" method="post" class="delSubCat">
                <input type="hidden" name="categoryId" value="<%= categoryId %>">
                <button type="submit"></button>
            </form>

            <button 
                type="button"
                class="changeSubCategoryBtn"
                data-id="<%= subCategory.id %>"
                data-name="<%= subCategory.name %>"
                data-parent="<%= subCategory.parent_id %>"
                data-url="<%= subCategory.image_url %>"
            ></button>
            
            <form action="/" method="get" class="subCategoryForm">
                <input type="hidden" name="categoryId" value="<%= categoryId %>">
                <input type="hidden" name="subCategoryId" value="<%= subCategory.id %>">
                <button type="submit"><%= subCategory.name %></button>
            </form>
        </div>
    <% }) %>
</div>
